*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(200, 165, 193);
    color: white;
}
.company h2 {
    margin-left: 15px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.products ul li{
    display: inline-flex;
    list-style: none;
    margin: 10px;
    margin-right:10px ;
}
.products li a:hover{
    transform: scale(1.2);
}
.products a{
    text-decoration: none;
    color: white;
}
.banner-1{
    width: 100%;
    height: 181.2px;
}
.banner-1 img{
    width: 100%;
    height: 180px;
}
.main-row{
    width: 100%;
    height: 150px;
}
/* .main-row a img {
    list-style: none;
    display: inline-flex;
    width: 120px;
    height:120px;
    margin-left: 25px;
    padding: 20px;
    justify-content: center;
    position: relative;
    bottom: 20px;
} */
.main-row ul{
    position: relative;
}
.main-row span{
    position: absolute;
    top: 125px;
    color: rgb(86, 3, 51);
    font-weight: bold;
}
.main-row li:hover{
    transform: scale(1.2);
}
.main-row ul li {
    list-style: none;
    display: inline-flex;
    width: 120px;
    height:120px;
    border: 2px double black;
    margin-left: 25px;
    padding: 20px;
    justify-content: center;
    /* position: relative;
    bottom: 35px; */
}

.banner-2{
    width: 100%;
    height: 150px;
}
.banner-2 img{
    width: 100%;
    height: 250px;
    position: relative;
    top: 20px;
}
.new-arraivals{
    width: 100%;
    height: 710px;
    border: 2px solid red;
    position: relative;
    top: 120px;
}
.new-arraivals span{
    position: absolute;
    top: 230px;
    left: 50px;
    color: rgb(86, 3, 51);
    font-weight: bold;
}
.new-arraivals li:hover{
    transform: scale(1.2);
}
.new-arraivals ul li {
    list-style: none;
    display: inline-flex;
    border: 1px solid black;
    margin: 45px;
    width: 220px;
    height: 220px;
    margin-left: 30px;
    padding: 10px;
   /* margin-bottom: -50px; */
   position: relative;
   top: 10px;
   border: 2px solid greenyellow;
}
.new-arraivals img{
    width: 100%;
}
.banner-3 img{
    position: relative;
    top: 120px;
    width: 100%;
}
.discount-items ul li{
    position: relative;
    top: 130px;
    list-style: none;
    display: inline-flex;
    margin: 15px;
    margin-left: 40px;
}
.discount-items img{
    width: 230px;
    height: 230px;
}
.discount-items li:hover{
    transform: scale(1.2);
}
.footer img{
    position: relative;
    top: 150px;
    width: 100%;
    height: 500px;
}
.product-details{
    display: flex;
    /* margin-top: 100px; */
}
.pro-left{
    width: 500px;
    max-width: 50%;
    border: 2px solid black;
    

}
.pro-left img{
    width: 500px;
    height: 500px;
    padding-left: 20px;
}
.pro-right{
    width: 500px;
    max-width: 50%;
    border: 2px solid black;
    text-align: center;
}
.btn-btn{
    position: relative;
    top: 10px;
    margin: 10px;
    padding: 10px;
}
.add-btn{
    width: 100px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(250, 138, 1);
    border: 0 solid white;
    color: white;
    font-weight: bold;
}

.buy-btn{
    width: 100px;
    height: 30px;
     border-radius: 15px 15px 15px 15px;
     background-color: rgb(165, 247, 3);
      border: 0 solid white;
      color: white;
      font-weight: bold;
}


